body {
    background: #95a4f0;
    font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
}

p
{
    margin: 0px;
    padding: 0px;
    color: white;
}

.colorbutton {
    font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.buttondiv
{
    text-align: center;
}

.outer_frame {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    width: 260px;
    margin: 0 auto;
    margin-top: 20px;
    background: #4b67f2;
    text-align: center;
    color: lightgrey;
}

.duration
{
    width: 2em;
}

.time {
    width: 5em;
}

.transitions {
    width: 11em;
}

.alarmmode {
    width: 4em;
}

.header {
    font-size: 24px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.uptime_input {
    border: 0px;
    width: 240px;
    text-align: left;
}

.hn_input
{
    border: 0px;
    width: 80px;
    text-align: left;
}

.port_input {
    border: 0px;
    width: 50px;
    text-align: left;
}

.pin_input {
    border: 0px;
    width: 40px;
    text-align: left;
}

.temp_input {
    border: 0px;
    width: 50px;
    text-align: left;
}

.modulation_input {
    border: 0px;
    width: 150px;
    text-align: left;
}


.user_input {
    border: 0px;
    width: 80px;
    text-align: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}
