body {
    background: #95a4f0;
    font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
}

p
{
    margin: 0px;
    padding: 0px;
    color: white;
}

.colorbutton {
    font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

.buttondiv
{
    text-align: center;
}

.outer_frame {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    width: 260px;
    margin: 0 auto;
    margin-top: 20px;
    background: #4b67f2;
    text-align: center;
    color: lightgrey;
}

.duration
{
    width: 2em;
}

.time {
    width: 5em;
}

.transitions {
    width: 11em;
}

.alarmmode {
    width: 4em;
}

.header {
    font-size: 24px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.uptime_input {
    border: 0px;
    width: 240px;
    text-align: left;
}

.hn_input
{
    border: 0px;
    width: 80px;
    text-align: left;
}

.port_input {
    border: 0px;
    width: 50px;
    text-align: left;
}

.pin_input {
    border: 0px;
    width: 40px;
    text-align: left;
}

.temp_input {
    border: 0px;
    width: 50px;
    text-align: left;
}

.user_input {
    border: 0px;
    width: 80px;
    text-align: left;
}
